@inject IConfiguration Configuration

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=600">
	<title>puush / @ViewData["Title"]</title>
	<link rel="stylesheet" media="screen" type="text/css" href="~/css/base.css"/>
	<meta name="description"
	      content="puush is a super-quick way to share screenshots and files. Quickly capture any portion of your screen, upload any file, and share them with a short URL automatically placed in your clipboard. Share them with the world or make them private, for your eyes only.">
	<link rel="canonical" href="@Configuration["Puush:BaseUrl"]/">
</head>
<body>

<div id="content">
	<div id="home">
		<div id="header" onclick="window.location = '/'">
			<div class="content">
				<a href="http://twitter.com/puushme" class="twitter"></a>
				<a href="#" class="download" id="win" onclick="alert('Coming soon!');"></a>
				<a href="#" class="download" id="osx" onclick="alert('Coming soon!');"></a>
				<div id="menu">
					<ul>
						<li><a href="/about">about</a></li>
						<li><a asp-controller="Home" asp-action="Faq">faq</a></li>
						<li><a href="/account">my account</a></li>
						<li><a href="/register">register</a></li>
						<li><a href="http://getsatisfaction.com/puush">support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="box">
			<div class="content">
				@RenderBody()
			</div>
		</div>
		<div id="footer">
			<div><a href="/tos">Terms of Service</a> | <a href="/dmca">DMCA</a></div>
		</div>
	</div>
</div>
</body>
</html>