@{
	ViewData["Title"] = "faq";
}

<div class="content">

	<h1>What are the differences between the free and pro accounts?</h1>
	<div class="padded">
		<table id="comparison" width="100%">
			<tbody>
			<tr>
				<th></th>
				<th width="20%">Free</th>
				<th width="20%">Pro</th>
			</tr>
			<tr>
				<td><strong>puush</strong> images and files from Windows, OS X and iOS.</td>
				<td class="answer checked"></td>
				<td class="answer checked"></td>
			</tr>
			<tr>
				<td>Ad-free sharing of images and files.</td>
				<td class="answer checked"></td>
				<td class="answer checked"></td>
			</tr>
			<tr>
				<td>Delete and manage <strong>puushed</strong> files using online tools.</td>
				<td class="answer checked"></td>
				<td class="answer checked"></td>
			</tr>
			<!--
								<tr>
									<td>Organize <strong>puushed</strong> files into multiple pools.</td>
									<td class="answer"></td><td class="answer checked"></td>
								</tr>
			-->
			<tr>
				<td>That warm and fuzzy feeling from supporting <strong>puush</strong>.</td>
				<td class="answer"></td>
				<td class="answer checked"></td>
			</tr>
			<tr>
				<td>Retention period</td>
				<td class="answer"><b>Forever</b></td>
				<td class="answer"><b>Forever</b></td>

			</tr>
			<tr>
				<td>Maximum filesize</td>
				<td class="answer">20mb</td>
				<td class="answer"><b>250mb</b></td>
			</tr>
			<tr>
				<td>Total account storage</td>

				<td class="answer">200mb</td>
				<td class="answer"><b>Unlimited</b></td>
			</tr>
			<tr>
				<td>Cost</td>
				<td class="answer"><b>Free</b></td>
				<td class="answer">US$15/year</td>
			</tr>
			</tbody>
		</table>
	</div>

	<h1>What are pools?</h1>
	<div class="padded">A pool is like an album of content. You can sort your uploads into pools to both organise them
		and restrict access.
	</div>

	<h1>What is an API key and when should I reset it?</h1>
	<div class="padded">An API key is an alternative to your password which is used by the puush client apps. It keeps
		your password secure while allowing authenticated communications. You can reset your API key if you believe your
		PC has been compromised or stolen.
	</div>

	<h1>Are my puushed files still my property?</h1>
	<div class="padded">Yep, we are just hosting your files. Nothing more. You can delete them at any point, as well.
	</div>

	<h1>I really want to see xx feature implemented. Can you do it?!</h1>
	<div class="padded">We are still working on features that we have planned for now, but will be accepting requests in
		the near future! If you have something that can't wait, drop us an email at <a href="mailto:puush@puush.me">puush@puush.me</a>,
		send a tweet to <a href="http://twitter.com/puushme">@@puushme</a> or join us on IRC in <a
			href="irc://irc.globalgamers.net/puush">#puush</a> on <a href="http://globalgamers.net">Global Gamers</a>
	</div>
</div>