@{
	ViewData["Title"] = "home";
}

<div class="eyecatch">
	<h1 style="color: #2B3A41;"><strong>puush is a super-quick way to share screenshots and files.</strong></h1>
	<div class="center"><img src="/img/diagram.png" alt="Puush Diagram"></div>
	<div class="padded">Use keyboard shortcuts or drag-drop gestures to quickly capture any portion of your screen or
		upload any file. These files are near-instantly <strong>puush'd</strong>, leaving behind a short URL in your
		clipboard, perfect for sharing. Paste these easily into your Twitter, IRC or IM clients. Share them with the
		world or make them private, for your eyes only.
	</div>
</div>
<div class="icon-space"><img src="~/img/icon1.png" alt="Windows and OSX Icons"></div>
<h1><b>Windows and OS X</b>, natively built.</h1>
<div class="padded">While there are already a number of similar apps already available, none offer multi-platform
	support that feels both natural to the platform's UI style and fully featured in every implementation.
	<strong>puush</strong> does.
</div>
<div class="clear"></div>
<div class="icon-space-r"><img src="~/img/icon2.png" alt="Smiley Face :)"></div>
<div style="text-align:right;">
	<h1>Share, archive and embed files for free. <strong>No ads.</strong></h1>
	<div class="padded">We don't believe in ads. They cause clutter and draw attention away from the main focus (being
		your images and files). We choose to employ an optional yearly subscription with pro features rather than force
		ads on you.
	</div>
</div>
<div class="clear"></div>
<div class="icon-space"><img src="~/img/icon3.png" alt="Internet Icon"></div>
<h1><b>Swift and reliable</b> hosting.</h1>
<div class="padded">We like speed. Your files will be <strong>puush'd</strong> and presented at lightning speed, whilst
	redundantly stored for peace-of-mind. <strong>puush</strong> your images and embed them in your forum posts, your
	emails and web sites with confidence.
</div>
<div class="clear"></div>
<div class="icon-space-r"><img src="~/img/icon4.png" alt="Tools Icon"></div>
<div style="text-align:right;">
	<h1>Web-based file management, <b>continuously evolving.</b></h1>
	<div class="padded">Choose to hide your <strong>puush'd files</strong> from prying eyes by dropping them into your
		private pool. Make the most of <strong>puush</strong> by organising your files the way you want. New features
		that are coming soon will make this even more powerful, watch this space.
	</div>
</div>
<div class="clear"></div>